body {
  margin: 0;
}

.wall-container {
  width: 100vw;
  min-height: 100vh;
  background-color: aquamarine;
  padding: 10px;

  /* center the elements */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.add-btn {
  position: fixed;
  bottom: 10px;
  /* right: 10px; */
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50px;
  background-color: green;
  font-weight: bold;
  font-size: 25px;
}
